<h1>Editing <%= @student.first_name %> <%= @student.last_name %></h1>
<% if flash[:notice] %>
		<% flash[:notice].each do |error| %>
			<li><%= error %></li>
		<% end %>
	<% end %>
<form action="/dojos/<%= @dojo.id %>/students" method="POST">
	<input type="hidden" name="_method" value="PATCH"/>
	<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
	<div>
		<label for="first">First Name:</label>
		<input type="text" name="students[first_name]" id="first" value="<%= @student.first_name %>"/>
	</div>
	<div>
		<label for="last">Last Name:</label>
		<input type="text" name="students[last_name]" id="last" value="<%= @student.last_name %>"/>
	</div>
	<div>
		<label for="email">Email: </label>
		<input type="text" name="students[email]" id="email" value="<%= @student.email %>"/>
	</div>
	<div>
		<label for="dojo">Dojo</label>
		<select name="dojo_id" id="dojo">
			<% @alldojos.each do |place| %>
				<option value="<%= place.id %>" <% if @student.dojo_id == place.id %> selected <% end %>><%= place.branch %></option>
			<% end %>
		</select>
	</div>
	
	<button type="submit">Update Student</button>
</form>

<a href="/dojos/<%= @dojo.id %>/students/<%= @student.id %>">Show</a>