<h1> <%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<h3>Email: <%= @student.email %></h3>

<h2>Cohort</h2>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<% @cohort.each do |ninja| %>
		<tr>
			<td><%= ninja.first_name %></td>
			<td><%= ninja.last_name %></td>
			<td><%= ninja.email %></td>
		</tr>
	<% end %>
</table>

<a href="<%= landing_path %>">Home</a> | <a href="">Edit</a>