<h1>Secrets</h1>
<a href='<%= user_path current_user.id %>'>Go To Secrets Dashboard</a>
<hr>
<% @secrets.each do |secret| %>
    <div>
        <h3><%= secret.content %></h3>
        <%= secret.likes.count %> Likes
        <% if current_user == secret.user %>
            <p><a href="<%= destroy_secret_path(secret.id) %>" data-method='delete'>Destroy</a></p>
        <% end %>
        
        <% if current_user.id != secret.user.id and current_user.secrets_liked.exclude? secret %>
            <p><a href="<%= like_path(secret.id) %>" data-method='post'>Like</a></p>
        <% end %>
        <% if current_user.secrets_liked.include? secret %>
            <p><a href="<%= unlike_path secret.id %>" data-method='delete'>Unlike</a></p>
        <% end %>
        <p></p>
    </div>
<% end %>
