<div>
<div class="gold">
	Your Gold <input type="text" name="gold" id="gold" value="<%= @gold %>" disabled />
</div>

<div id="buildings">
	<!-- Farm -->
	<div id="farm">
		<h1>Farm</h1>
		<p>(earns 10-20 gold)</p>
		<form action="<%= handle_path %>" method="POST">
		<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<button type="submit">Find Gold!</button>
		<input type="hidden" name="building" value="farm"/>
		</form>
	</div>
	<!-- Cave -->
	<div id="cave">
		<h1>Cave</h1>
		<p>(earns 5-10 gold)</p>
		<form action="<%= handle_path %>" method="POST">
			<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<input type="hidden" name="building" value="cave"/>
			<button type="submit">Find Gold!</button>
		</form>
	</div>
	<!-- House -->
	<div id="house">
		<h1>House</h1>
		<p>(earns 2-5 gold)</p>
		<form action="<%= handle_path %>" method="POST">
			<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<input type="hidden" name="building" value="house"/>
			<button type="submit">Find Gold!</button>
		</form>
	</div>
	<!-- Casino -->
	<div id="casino">
		<h1>Casino</h1>
		<p>(earns/takes 0-50 gold)</p>
		<form action="<%= handle_path %>" method="POST">
			<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"/>
			<input type="hidden" name="building" value="casino"/>
			<button type="submit">Find Gold!</button>
		</form>
	</div>
</div>
<div id="activities">
<h3>Activities</h3>
<ul>
	<% @activities.each do |activity| %>
		<li class="<%= activity['color'] %>" ><%= activity['message'] %></li>
	<% end %>
</ul>





</div>
</div>