<h2>Edit Dojo</h2>
<div>
    <form action='<%= update_one_path @one.id %>' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='patch'>
        <div>
            <label>Branch:</label>
            <input type='text' name='dojo[branch]' value='<%=@one.branch%>'>
        </div>
        <div>
            <label>Street:</label>
            <input type='text' name='dojo[street]' value='<%=@one.street%>'>
        </div>
        <div>
            <label>City:</label>
            <input type='text' name='dojo[city]' value='<%=@one.city%>'>
        </div>
        <div>
            <label>State:</label>
            <input type='text' name='dojo[state]' value='<%=@one.state%>'>
        </div>
        <input type='submit' value='Update'>
    </form>
</div>