<h2>There are <%= @count %> Dojos</h2>

<table>
    <tr>
        <th>Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Actions:</th>
    </tr>

    <% @dojos.each do |dojo| %>
    <tr>
        <td><%= dojo.branch %></td>
        <td><%= dojo.street %></td>
        <td><%= dojo.city %></td>
        <td><%= dojo.state %></td>
        <td><a href='<%= show_one_path(dojo.id) %>'>Show</a></td>
        <td><a href='<%= edit_one_path dojo.id %>'>Edit</a></td>
        <td><p><a href='<%= new_student_path(dojo.id) %>'>Add Student</a></p></td>
        <td><a href='<%= delete_one_path dojo.id %>' data-method='delete'>Delete</a></td>
    </tr>
    <% end %>

</table>
<a href='/new'>New Dojo</a>