<h5>Welcome, <%= current_user.first_name.capitalize %>!</h5>

<!-- Events in our state -->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Host</th>
            <th>Action/Status</th>
        </tr>
    </thead>
    <tbody>
        <% @events.each do |event| %>
            <tr>
                <td><a href="<%= event_path event.id %>"><%= event.name %></a></td>
                <td><%= event.date %></td>
                <td><%= event.city %></td>
                <td><%= event.user.first_name %></td>
                <td>
                    <% if event.user == current_user %>
                        <form action="<%= delete_event_path event.id %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                            <input type="hidden" name="_method" value="delete" />

                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        </form>
                    <% else %>
                        <% if event.attendees.include? current_user %>
                        Joined
                            <form action="<%= leave_event_path %>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                                <input type="hidden" name="attend[event_id]" value="<%= event.id %>" />

                                <button class="btn btn-sm btn-warning" type="submit">Cancel</button>
                            </form>
                        <% else %>
                            <!-- Join -->
                            <form action="<%= join_event_path %>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                                <input type="hidden" name="attend[event_id]" value="<%= event.id %>" />

                                <button class="btn btn-sm btn-primary" type="submit">Join</button>
                            </form>
                        <% end %>
                    <% end %>
                </td>
            </tr>   
        <% end %>
    </tbody>
</table>

<!-- Events out of state -->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>State</th>
            <th>Host</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @out_of_state.each do |event| %>
            <tr>
                <td><a href="<%= event_path event.id %>"><%= event.name %></a></td>
                <td><%= event.date %></td>
                <td><%= event.city %></td>
                <td><%= event.state %></td>
                <td><%= event.user.first_name %></td>
                <td>
                    <% if event.user == current_user %>
                        <form action="<%= delete_event_path event.id %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                            <input type="hidden" name="_method" value="delete" />

                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        </form>
                    <% else %>
                        <% if event.attendees.include? current_user %>
                        Joined
                            <form action="<%= leave_event_path %>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                                <input type="hidden" name="attend[event_id]" value="<%= event.id %>" />

                                <button class="btn btn-sm btn-warning" type="submit">Cancel</button>
                            </form>
                        <% else %>
                            <!-- Join -->
                            <form action="<%= join_event_path %>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                                <input type="hidden" name="attend[event_id]" value="<%= event.id %>" />

                                <button class="btn btn-sm btn-primary" type="submit">Join</button>
                            </form>
                        <% end %>
                    <% end %>
                </td>
            </tr>   
        <% end %>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <h4>Add Event</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form action="<%= create_event_path %>" method="post" class="form">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <!-- Name -->
            <div class="form-group">
                <input type="text" name="event[name]" class="form-control" id="name" placeholder="Name" />
            </div>    
            <!-- Date -->
            <div class="form-group">
                <input type="date" name="event[date]" class="form-control" id="date" placeholder="Date" />
            </div> 
            <!-- Location -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" name="event[city]" class="form-control" id="city" placeholder="City" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="event[state]" class="form-control" id="state" placeholder="State" />
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add Event</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>