<h1><%= @dojo.branch %></h1>

<h2>Address: <%= @dojo.street %></h2>

<h2>City: <%= @dojo.city %> State: <%= @dojo.state %></h2>

<a href="<%= landing_path %>">Home</a> | <a href="/dojos/<%= @dojo.id %>/edit">Edit</a>