<div>Thanks for submitting the form! You have submitted this form <%= @times %> times in a row</div>

<div>
	<h3>Submitted Information</h3>
	<p>Name: <%= @name %></p>
	<p>Dojo Location: <%= @location %></p>
	<p>Favorite Language: <%= @language %>!!!</p>
	<p>Comment: <%= @comment %></p>

	<button onclick="location.href='/'">Go Back</button>
	
</div>
